.header{
    background-color: rgb(251, 255, 0);
    height: 50px;
    display: flex;
    justify-content: space-between;

}
.menu{
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
}